.loader{
    height: 150px;
    width: 150px;
    border: 20px solid #f3f3f3;
    border-top: 20px solid goldenrod;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}